{% extends 'base.html.twig' %}

{% block page %}
    <h2><u>{{brand.getName}}</u></h2>
    <h3>Add a store to this brand:</h3>

    <form action='/add_stores' method='post'>
        <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId }}">
        <label for="store_id">Select a store</label>
        <select id='store_id' name='store_id' type='text'>
          {% for store in all_stores %}
            <option value="{{ store.getId }}"> {{ store.getName }} </option>
          {% endfor %}
        </select>
        <button type='submit'>Add store</button>
    </form>
<br>

    {%if stores is not empty%}
    <table class="table">
      <thead>
        <th>Store Name</th>
        <th>brands</th>
      </thead>
      <tbody>
        {%for store in stores%}
        <tr>
          <td>{{store.getName}}</td>
          <td>
              <form action='/delete/storeinbrand/{{ store.getId }}' method='post'>
                  <input name='_method' value='delete' hidden>
                  <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId }}">
                  <button type='submit' class='btn btn-xs btn-success'>Remove</button>
              </form>
          </td>

        </tr>
        {%endfor%}
      </tbody>
    </table>
    {%endif%}

  {% endblock %}
