{% extends 'base.html.twig' %}

{% block page %}
    <h2><u>{{store.getName}}</u></h2>
    <h3>Add a brand of shoes to this store:</h3>

    <form action='/post/brand/{{store.getId}}' method='post'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input required type='text' name='name' class='form-control'>
        </div>
        <button type='submit' class='btn btn-success'>Submit</button>
    </form>
    {%if brands is not empty%}
    <table class="table">
      <thead>
        <th>Brand Name</th>
        <th>Stores</th>
      </thead>
      <tbody>
        {%for brand in brands%}
        <tr>
          <td>{{brand.getName}}</td>
          <td><form action="/stores/{{store.getId}}" method="post">
            <input type="hidden" name="brand_id" value="{{brand.getId}}">
            <button type="submit">show stores</button>
          </form></td>

        </tr>
        {%endfor%}
      </tbody>
    </table>
    {%endif%}

    {% if stores is not empty%}
    <h3>Stores where this brand is sell:</h3>
    {%for store in stores%}
    <ul>
      <li>{{store.getName}}</li>
    </ul>
    {%endfor%}
    {%endif%}

  {% endblock %}
